* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Inter", sans serif;
}

body {
    background-color: hsl(0, 0%, 8%);
}


/* utili */

.bigger-font {
    font-size: 20px;
}

.smaller-font {
    font-size: 12px;
}


/* container */

.container {
    max-width: 340px;
    margin: 0 auto;
    /* card */

    .card {
        background-color: hsl(0, 0%, 12%);
        padding: 20px;

        /* picture */
        figure {
            padding: 20px 0;

            img {
                max-width: 70px;
                height: auto;
                border-radius: 50%;
            }
        }

        h1,
        h2,
        span {
            color: hsl(0, 0%, 100%);
            margin-bottom: 10px;
        }

        address {
            color: hsl(75, 94%, 57%);
            font-style: normal;
            margin: 10px 0;
        }
    }



}